<div class="carouselslick">
    <div class="slicker" ng-click="routeToInventory('Computers')">
        <div>
            <div class="displayname">
                <strong>Computers</strong>
            </div>
            <img src="http://g-ecx.images-amazon.com/images/G/31/img16/PC/Feb/20Handpicked/Takeover-Slider_20-best-laptops_1200x360_2.jpg" class="img-responsive" alt="" /></div>
        <div>
            <div class="displayname">
                <strong>Computers</strong>
            </div><img src="http://g-ecx.images-amazon.com/images/G/31//img16/PC/August/Dell/9956_PC_Essentian_HS_1200x360.png" class="img-responsive" alt="" /></div>
        <div>
            <div class="displayname">
                <strong>Computers</strong>
            </div><img src="http://g-ecx.images-amazon.com/images/G/31//img16/PC/OctART/logitec/1012453_Hero-Slideshow-Billboard2_usethis.jpg" class="img-responsive" alt="" /></div>
    </div>
    <div class="slicker" ng-click="routeToInventory('Audio')">
        <div>
            <div class="displayname">
                <strong>Audio</strong>
            </div>
            <img src="https://images-na.ssl-images-amazon.com/images/G/01/img16/consumer-electronics/vertical-store/hero/1009304_us_sony_vertstore_1920x693_1._CB278332814_.jpg" class="img-responsive" alt="" /></div>
        <div>
            <div class="displayname">
                <strong>Audio</strong>
            </div>
            <img src="https://images-na.ssl-images-amazon.com/images/G/01/img16/consumer-electronics/vertical-store/981042_CE_bose_desktop-hero_1920x693_A._CB271037348_.jpg" class="img-responsive" alt="" /></div>
        <div>
            <div class="displayname">
                <strong>Audio</strong>
            </div>
            <img src="https://images-na.ssl-images-amazon.com/images/G/01/img16/consumer-electronics/vertical-store/36710_ce_headphone_may10_1920x693._CB272699685_.png" class="img-responsive" alt="" /></div>
    </div>
    <div class="slicker" ng-click="routeToInventory('Wearable Tech')">
        <div>
            <div class="displayname">
                <strong>Wearable-Tech</strong>
            </div>
            <img src="https://images-na.ssl-images-amazon.com/images/G/01/img15/wearable-tech/showcase/29383_wearbale-tech_withings_showcase_650x340.jpg" class="img-responsive" alt="" /></div>
        <div>
            <div class="displayname">
                <strong>Wearable-Tech</strong>
            </div>
            <img src="https://images-na.ssl-images-amazon.com/images/G/01/srubens/Amazon_650x340._V297183530_.png" class="img-responsive" alt="" /></div>
        <div>
            <div class="displayname">
                <strong>Wearable-Tech</strong>
            </div>
            <img src="https://images-na.ssl-images-amazon.com/images/G/01/img16/consumer-electronics/showcase/32065_consumer-electronics_moto-360_showcase_650x340_2.jpg" class="img-responsive" alt="" /></div>
    </div>
    <div class="slicker" ng-click="routeToInventory('Cell Phones')">
        <div>
            <div class="displayname">
                <strong>Cell Phones</strong>
            </div>
            <img src="http://g-ecx.images-amazon.com/images/G/31//img16/Wireless/Mobiles/CEEX/OP3/GoldGraphite/1019455_Oneplus3_THS_1200x360.png" class="img-responsive" alt="" /></div>
        <div>
            <div class="displayname">
                <strong>Cell Phones</strong>
            </div>
            <img src="http://g-ecx.images-amazon.com/images/G/31/img16/Wireless/Mobiles/CEEX/Moto/MotoEventStanC/1022527_Moto_THS-1200x360._V522527631_.png" class="img-responsive" alt="" /></div>
        <div>
            <div class="displayname">
                <strong>Cell Phones</strong>
            </div>
            <img src="http://g-ecx.images-amazon.com/images/G/31//img16/Wireless/Mobiles/CEEX/Coolpadnote3s/ingress/1020940_CoolpadNote3s_HS_1200x360.png" class="img-responsive" alt="" /></div>
    </div>
</div>
